{% extends 'base.html' %}
{% load static %}

{% block title %}Books Details{% endblock title %}

{% block content %}

{% comment %} <div class='bg-slate-800 text-white p-5'>
    <span style="font-family: Poppins-Bold" class='text-2xl font-extrabold'>My latest posts</span>
</div> {% endcomment %}

<div class='bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60'>
    <span style="font-family: Poppins-Bold" 
    class='grid items-center px-2 text-start md:text-start md:pl-36 text-2xl md:text-3xl lg:text-4xl my-6 md:my-10'>
    Details of Book : {{ book.name }}</span>
    <div class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg justify-left '>
        <!-- {{ book.name }}
        {{ book.describe }} -->
            <div style="box-shadow:0 50px 300px 0 rgba(178, 16, 16, 0.05);" 
            class='w-auto h-auto shadow-2xl transition-all duration-300 md:text-start md:pl-6  my-6 md:my-10'>
                <a href='/books/{{booksdata.id}}'><img class='rounded-lg mb-4' src="{{blog.thumbnail_url}}"></a>
                <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='/books/{{blog.slug}}'><span class='text-xl font-extrabold'>{{book.name|slice:80}}</span></a><br>
                <p class='my-3 text-justify '>{{ book.describe}}</p>
                <p class='mt-2 mb-4 text-gray-400'>by  <i class="bi bi-person"></i>  <a href='/about' class='group transition-all duration-500 ease-out'>
                    <span class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200'>{{ book.author }}</span></a> <i class="bi bi-dot"></i> <span><i class="bi bi-calendar4-event"></i> {{blog.time}}</span> <i class="bi bi-dot"></i><i class="bi bi-tag"></i> <a href='/category/{{blog.category}}' class='group transition-all duration-500 ease-out'><span class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200'>{{blog.category}}</span></a></p>
                {% comment %} <a class='text-sm bg-gray-700 py-1 px-3 rounded-full' href='/category/{{blog.category}}'><i class="bi bi-tag"></i> {{book.author}}</a><br><br> {% endcomment %}
               </div>
            <br>
    </div>
</div>

{% endblock content %}